@model StockTrade

@{
    ViewBag.Title = "Trading";
}

@* <h1>@Model.StockName</h1>
<small>(</small><h3>@Model.StockSymbol</h3><small>)</small>
<h3><small>$</small>@Model.Price</h3>
<h3>@Model.Quantity</h3> *@


<form method="post">
    <div class="box trading-panel">

        <div class="flex trading-panel-flex">
            <div id="stock-price-panel">

                <div class="stock">
                    <h1 class="stock-title">@Model.StockName (@Model.StockSymbol)</h1>
                    <h2 class="stock-price"><small class="text-grey">$</small> <span class="price">@Model.Price.ToString("N")</span></h2>
                </div>

                <div class="date"></div>
            </div>


        </div>
    </div>


    <input type="hidden" name="StockSymbol" id="StockSymbol" value="@Model.StockSymbol" />
    <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />

</form>